.topNav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: beige;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 1px;
}
.pageOneHeader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.chairPictures {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.chairImage {
    max-width: 450px;
    height: auto;
    overflow: hidden;
}
.funFact {
    text-align: center;
}
.explanation {
    text-align: center;
}
.bottomNav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    width: 99%;

}
.chairImage:hover {
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
